body{
    height: 1050px;
    margin:0;
    border-style: solid;
    border-width: 15px;
    border-color: #ff944d;
    background-image: url('http://1.bp.blogspot.com/-94mjViIKzbM/Ta0LB-ztTHI/AAAAAAAAAIo/EMP5VD9PfnE/s1600/Tag_book-Chicka_Chicka_Boom_Boom.jpg'),
    url('http://cdn.quotesgram.com/small/23/22/476522502-are-you-my-mother.jpg'),
    url('https://tse4.mm.bing.net/th?id=OIP.kJ0-psa9VEu22HJzsAweIgAAAA&pid=Api&P=0&w=300&h=300'),
    url('https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1386601743l/13025568.jpg'),
    url('https://s-media-cache-ak0.pinimg.com/736x/ca/b4/7b/cab47bf5645defe23bd8b5659807cf1c.jpg'),
    url('http://static.oprah.com/2018/02/201802-orig-15-books-to-solve-problems-outliers-949x1356.jpg'),
    url('http://mybookwormblog.files.wordpress.com/2014/02/lightning-thief1.jpg') ;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 200px, 200px,250px, 150px, 200px, 200px, 150px;
    background-position: top 430px right 100px, top 450px left 790px, top 670px left 400px, top 430px left 585px, top 750px left 700px, top 725px right 100px,
    top 430px left 380px;
  }


.Upper1{
  background-image: url('https://image.freepik.com/free-photo/rows-books-library_73152-2680.jpg');
  background-size: 1333px auto;
  background-repeat: no-repeat;
  background-position: center top 30px;
  background-color: #ff944d;
  border: 5px;
  border-color: #ff944d
    }
h1{
  font-family: cursive;
  font-size: 60px;
  }

h2{
  font-family: cursive;
  font-size: 30px;
  text-align: center;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #cc3300;
font-family: verdana;
font-size: 17.5px
}

.nav{
  background-color:	#cc3300;
  color: #ffffff;
  list-style: none;
  padding: 0px 40px;
}

.nav ul li{
  float: left;
  display: inline-block;
}

.nav ul li > a{
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.nav ul li  a:link:not(.active) {
background-color: #cc3300;
padding: 20px 22px;
}



.active:link,.active:visited{
  background-color: #ff4000;
  padding: 20px 25px;
}

.active:hover{
  background-color: #ff531a;
  padding: 20px 25px;
}

  .nav ul li  a:hover:not(.active) {
  background-color: #992600;
  padding: 20px 22px;
}

  h3{
    font-family: cursive;
    font-weight: bold;
    line-height: 0px
  }

  .ages ul{
    list-style-type: none;
    margin:0;
    padding:0;
    width: 25%;
    background-color: #e6e6e6;
    height: 685px;
  }

  .ages ul li a{
    display:block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
  }

  .ages ul li a:not(.special){
    border-left: 10px;
    border-left-style: solid;
    border-left-color: #e6e6e6
  }

  .ages ul li a:hover:not(.special){
    background-color: #cccccc;
    border-left: 10px;
    border-left-style: solid;
    border-left-color: #cccccc
  }

  .ages ul .special{
    background-color: #808080;
    color:white;
  }

  .ages ul .special a{
    color: white;
  }

.BFAA{
  font-family: cursive;
  font-size: 30px;
  position: relative;
  top: -650px;
  left: 120px;
  text-align: center;
}
